@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Skills Tracker</h1>
<ol>
    <li>C#</li>
    <li>JavaScript</li>
    <li>Python</li>
</ol>